body {
	/*background-color: #0724a8;*/
	background-color: #afbcfc;
}
div.text_wrapper {
	background-color: rgb(240,240,240);
	max-width: 600px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 0.75em;
	padding-bottom: 0.75em;
}
div.text_wrapper:first-of-type {
	margin-top: 50px;
}
h1, h3, h5, p {
	/*color: white;*/
	font-family: "Open Sans", "Georgia", sans-serif;
}
h1, h3 {
	text-align: center;
}
h5 {
	margin-top: 0;
	text-align: center;
}
p {
	max-width: 500px;
	margin-left: auto;
	margin-right: auto;
}
table {
	margin-left: auto;
	margin-right: auto;
}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  padding-left: 1em;
  padding-right: 1em;
	background-color: white;
}
td {
	width: 30%;
}
code {
  /*background-color: #D3D3D3;*/
  background-color: rgb(240,240,240);
}
pre code {
	white-space: pre-wrap;
}
a {
	text-decoration: none;
}
